.nav {
	display: block;
	&_header {
		margin: 0;
	}
	&__list {
		display: flex;
		justify-content: left;
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	&__item {
		margin: 0;
		margin-left: 50px;
		margin-right: 5px;
		font-size: 26px;
		color: $cutty-sark;
	}

}
