a {
	cursor: pointer;
	outline: 0;
    text-decoration: none;
	&.link {
		position: relative;
		color: $cutty-sark;
		font-size: 26px;
		display: block;
		padding: 0 5px;
		&:hover {
			color: $breaker-bay;
			transition: all 0.3s;
		}
		&:active {
			color: $green-pea;
			transition: all 0.3s;
			border: none;
		}
		&::after {
			content: "";
			position: absolute;
			display: block;
			width: 0%;
			bottom: 0%;
			left: 50%;
			transform: translateX(-50%);
			height: 2px;
			background-color: $green-pea;;
			transition: .4s all;
		}
		&.active {
			color: $green-pea;
			&::after {
				width: 90%;
			}
		}
	}


}

