$plantation: rgb(40, 81, 76);
$green-pea: rgb(22, 88, 79);
$cutty-sark: rgb(92, 131, 123);
$deep-sea: rgb(0,128,111);
$elf-green: rgb(9, 132, 116);
$observatory: rgb(4, 132, 108);
$falcon: rgb(131, 92, 100);
$ebb: rgb(237, 231, 232);
$lochinvar: rgb(36, 147, 131);
$breaker-bay: rgb(83, 166, 155);
$neptune: rgb(122, 188, 180);
$tiara: rgb(193, 211, 207);
$gin: rgba(240, 245, 243, 1);
$judge-gray: rgb(76, 60, 44);
$pickled-bluewood: rgba(44, 60, 76, 1);
$catskill-white: rgba(235, 242, 245, 1);
$horizon: rgba(93, 127, 161, 1);

